<!DOCTYPE html>
<html lang="en">
@@include('./head.html', { "title": "Home :: Welcome" })

<body>
    <div id="topbanner">
        <img id="topbannerimg" src="assets/images/logo.svg" alt="Logo">
        <h1>%TITLE%</h1>
        <p class="load">Lorum Ipsum</p>
    </div>
    @@include('./navbar.html', { "page": "index" }) @@include('./bodystart.html')
    <div class="jumbotron">
        <div class="container">
            <h1>Hello World</h1>
            <p>Lorum Ipsum</p>
            <a href="about" class="btn btn-primary" role="button" type="button">About</a>
        </div>

    </div>
    <main class="container">
        WIP



        <div class="conditional notloggedin">
            <a class="btn btn-primary" href="profile">Login</a>
        </div>
        <div class="conditional loggedin">
            <a class="btn btn-primary" href="profile">Profile</a>
        </div>
    </main>
    <div style="padding-bottom: 120vh;"></div>
    @@include('./bodyend.html')
</body>

</html>