<!DOCTYPE html>
<html lang="en">
@@include('./head.html', { "title": "Write Post" })

<body>
    @@include('./navbar.html', { "page": "write-post" }) @@include('./bodystart.html')
    <main class="container">
        <h1>Write Post</h1>
        <form action="" class="form newforumpost">
            <div class="form-group">
                <label class="label-control" for="newpost-title">Title</label>
                <input class="form-control" type="text" name="title" id="newpost-title" placeholder="Post's Title" required>
            </div>
            <div class="form-group">
                <label class="label-control" for="editor">Content</label>
                <div id="quillcontainer">
                    <div id="toolbar">
                        <button class="ql-bold">Bold</button>
                        <button class="ql-italic">Italic</button>
                    </div>
                    <div id="editor">

                    </div>
                </div>
            </div>
            <small class="remaining text-muted">Remaining: <span class="currchars">0</span>/1000</small>
            <p></p>
            <div class="hidden fa fa-circle-o-notch fa-spin"></div>
            <button type="submit" class="btn btn-primary" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Placing Comment">
            Submit</button>
        </form>
        <p></p>
    </main>
    <div style="padding-bottom: 120vh;"></div>
    @@include('./bodyend.html')

    <!-- Modals -->

    <div id="forumpostsubmitteddialog" class="modal fade text-center" data-keyboard="false" data-backdrop="false" tabindex="-1"
        role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Submitted</h4>
                </div>
                <div class="modal-body" style="position: relative; min-height: 300px;">
                    <p>Please wait while your post is being processed&hellip;</p>
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>