.forumpostscomponent {
    position: relative;
    min-height: 200px;
}

.forumpostscomponent.ready {
    height: auto;
}

.forumpostscomponent.ready .loader {
    display: none;
}

.forumpostlist-itemcontent {
    overflow: hidden;
}

