/* navbar */

nav.navbar {
    margin: 0;
}

.sticky-navbar-container.inflate {
    height: 60px;
}

/* Home Page */

#topbanner {
    padding: 10px;
}

#topbanner h1 {
    margin: 0;
}

#topbanner::after {
    content: " ";
    display: block;
    clear: both;
}

#topbannerimg {
    width: 100px;
    max-width: 50%;
    display: block;
    float: left;
    margin-right: 10px;
}


/* Conditional */
.conditional.loggedin {
    display: none;
}
html.loggedin .conditional.loggedin {
    display: unset;
}

html.loggedin .conditional.notloggedin {
    display: none;
}

.loader {
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    border: 14px solid lightgrey;
    border-top: 14px solid #007BFF;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }

}